@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 39, ../compass/sass/style.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* line 44, ../compass/sass/style.scss */
.grid {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 48, ../compass/sass/style.scss */
.grid h2 {
  margin: 20px;
}
/* line 51, ../compass/sass/style.scss */
.grid .img {
  text-align: center;
  opacity: .2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 58, ../compass/sass/style.scss */
.grid .img:hover {
  opacity: 1;
}
/* line 63, ../compass/sass/style.scss */
.grid .tile {
  display: block;
  overflow: hidden;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
/* line 69, ../compass/sass/style.scss */
.grid .tile .link {
  display: block;
  padding: 20px;
  color: #444;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
/* line 77, ../compass/sass/style.scss */
.grid .tile .link:hover {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
/* line 82, ../compass/sass/style.scss */
.grid .tile .link::after {
  display: inline-block;
  position: relative;
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s ease 0s, opacity 0.2s ease 0s;
  margin-left: 10px;
  content: ">>";
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}
/* line 96, ../compass/sass/style.scss */
.grid .tile .link:hover::before, .grid .tile .link:hover::after, .grid .tile .link:active::before, .grid .tile .link:active::after, .grid .tile .link:focus::before, .grid .tile .link:focus::after {
  opacity: 0.3;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 104, ../compass/sass/style.scss */
.grid .tile:nth-child(6n+1) {
  background-color: #cdcdcd;
}
/* line 104, ../compass/sass/style.scss */
.grid .tile:nth-child(6n+2) {
  background-color: #d1d1d1;
}
/* line 104, ../compass/sass/style.scss */
.grid .tile:nth-child(6n+3) {
  background-color: #d3d3d3;
}
/* line 104, ../compass/sass/style.scss */
.grid .tile:nth-child(6n+4) {
  background-color: #dcdcdc;
}
/* line 104, ../compass/sass/style.scss */
.grid .tile:nth-child(6n+5) {
  background-color: #e0e0e0;
}
/* line 104, ../compass/sass/style.scss */
.grid .tile:nth-child(6n+6) {
  background-color: #e8e8e8;
}

@media all and (min-width: 480px) {
  /* line 115, ../compass/sass/style.scss */
  .grid {
    display: block;
  }

  /* line 118, ../compass/sass/style.scss */
  .tile {
    width: 50%;
    float: left;
  }
}
@media all and (min-width: 768px) {
  /* line 124, ../compass/sass/style.scss */
  .tile {
    width: 25%;
  }

  /* line 127, ../compass/sass/style.scss */
  .link {
    text-align: center;
    padding: 60px 20px 20px 20px;
  }
  /* line 130, ../compass/sass/style.scss */
  .link:hover {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@media all and (min-width: 1024px) {
  /* line 146, ../compass/sass/style.scss */
  .tile {
    overflow: visible;
    width: 12.5%;
  }

  /* line 150, ../compass/sass/style.scss */
  .link {
    padding: 80px 20px 20px 20px;
  }
  /* line 152, ../compass/sass/style.scss */
  .link:hover {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
}
